@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
